.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    align-items: center;
    gap: 1vw;
    background-color: #242424;
}

.title {
    font-family: "Inter";
    font-weight: 200;
    margin: 10px 20px 10px 20px;
    font-size: 42px;
}

.map {
    width: 100%;
    height: 70vh;
}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.weather-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.weather-info {
    text-align: center;
}