input {
    font-family: "Inter";
    font-weight: 200;
    width: 20vw;
    height: 28px;
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    font-size:22px;
    transition: border-bottom 0.3s ease;
}

input:focus {
    border-bottom: 1px solid #999;
    outline:none;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.search-button{
    font-family: "Inter";
    font-weight: 400;
    display: flex;
    background: none;
    border:none;
    transition: background-color 0.3s ease;
}

.search-button:hover{
    background-color: rgb(65, 65, 65);
}